@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

html {
  // Never change this value (overflow: auto)
  overflow: auto; // The most important thing in this whole website
  height: 100%;
}
// Home Page
body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  // Never change this value (overflow: auto)
  overflow: auto; // The most important thing in this whole website
}

h1,
h2 {
  margin: 0;
  font-weight: bold;

  &.lg-heading {
    font-size: 6rem;
  }
  /* &.sm-heading {
    // margin-bottom: 2rem;
    //background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
  } */
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
  font-weight: bold;
}

main {
  padding: 3rem;
  padding-bottom: 1rem;
  // height: 100%;
  min-height: calc(100vh - 30px);
  // min-height: 100vh;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.8rem;
      color: set-text-color($primary-color);

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: auto;
    h1 {
      margin-top: 20vh;
    }
  }
}

// About Page
#about {
  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    font-weight: bold;
  }

  p {
    font-weight: normal;
  }

  li {
    font-weight: normal;
  }

  .bio-heading {
    text-align: left;
  }

  // .about-margin {
  //   margin: 2rem;
  // }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    .bio-image {
      height: 150px;
      width: 150px;
      background: url("../img/abhisek_portrait_small.jpg");
      background-position: center;
      border-radius: 50%;
      border: solid 3px $secondary-color;
      opacity: 1;
      margin-left: 6.4rem;
      // text-align: center;
      // margin-left: 50px;
      // justify-content: center;

      //background: rgba(255, 255, 255, 1);
    }
  }

  .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 0;

    .container2box {
      flex-basis: 30%;
    }
  }

  .job {
    background: lighten($color: $primary-color, $amount: 5);
    padding: 0 1rem;
    border-bottom: $secondary-color 5px solid;
  }

  h3 {
    color: #eece1a;
    font-weight: bold;
  }

  .box1 {
    // flex: 1;
    flex-basis: 35%;
    // justify-content: center;
  }

  .box2 {
    // flex: 2;
    flex-basis: 65%;
  }

  #list {
    list-style-type: none;
    padding: 0 1rem;
    padding-bottom: 0;
  }
}
//------------------------------------

/* .about-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  .bio-image {
    // grid-area: bioimage;
    // height: 250px;
    // width: 250px;
    background-position: center;
    margin: auto;
    border-radius: 50%;
    border: solid 3px $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($color: $primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
} */

// Work/Projects
#work {
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  a {
    font-weight: normal;
  }
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  img {
    width: 100%;
    border: 3px solid set-text-color($primary-color);

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut();
    }
  }
}

// Contact Page
#contact {
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  span {
    font-weight: normal;
  }

  i {
    color: #dd4a40;
  }
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  font-weight: normal;

  div {
    font-size: 1.2rem;
    border: 3px solid #fff;
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
    @include easeOut();

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
      #map {
        color: #000;
      }
    }
  }

  .permanent-address {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;

  &:hover {
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($color: $primary-color, $amount: 50);
  color: #333;
}

// Footer
#main-footer {
  text-align: center;
  height: 30px;
  font-weight: normal;
  // padding: 1rem;
  // background: darken($color: $primary-color, $amount: 10);
  color: set-text-color($primary-color);
  // opacity: 0.9;
}

@import "mobile";
